<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div style="color: {{ 'green' if category == 'success' else 'red' }};">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <br>

        <form action="/login" method="POST">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" , name="username" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" id="password" , name="password" required>
            </div>
            <br>
            <button type="submit">Login</button>
        </form>

        <br>

        <a href="{{ url_for('signup') }}">
            <button type="button">Create Account</button>
        </a>
    </div>
</body>

</html>